<script lang="ts">
  import "carbon-components-svelte/css/g100.css";
  import {
    Button,
    FileUploaderButton,
    Grid,
    Row,
    Column,
    Modal,
  } from "carbon-components-svelte";
  import InitData from "../init.json";

  let open = false;

  async function backup() {
    const items = await chrome.storage.local.get();
    const json = JSON.stringify(items, null, 2);
    const blob = new Blob([json], { type: "application/json" });
    const a = document.createElement("a");
    a.href = URL.createObjectURL(blob);
    a.download = "backup.json";
    a.click();
    URL.revokeObjectURL(a.href);
  }

  async function restore(e: CustomEvent<ReadonlyArray<File>>) {
    if (e.detail.length < 1) return;
    const json = await e.detail[0].text();
    const data = JSON.parse(json);
    await chrome.storage.local.clear();
    chrome.storage.local.set(data);
  }

  async function reset() {
    await chrome.storage.local.clear();
    await chrome.storage.local.set(InitData);
    open = false;
  }
</script>

<Grid style="display: grid; justify-content: center;" padding>
  <Row>
    <Column>
      <Button style="width: 100%" on:click={backup}>backup</Button>
    </Column>
  </Row>
  <Row>
    <Column>
      <FileUploaderButton
        labelText="restore"
        size="default"
        disableLabelChanges
        accept={[".json"]}
        on:change={restore}
      />
    </Column>
  </Row>
  <Row>
    <Column>
      <Button style="width: 100%" kind="danger" on:click={() => (open = true)}
        >reset</Button
      >
    </Column>
  </Row>
</Grid>
<Modal
  danger
  size="xs"
  bind:open
  modalHeading="reset all data"
  primaryButtonText="reset"
  secondaryButtonText="cancel"
  on:click:button--secondary={() => (open = false)}
  on:submit={reset}
/>
