<script lang="ts" context="module">
  function clamp(n: number) {
    return Math.min(Math.max(0, n), 1);
  }
</script>

<script lang="ts">
  import { createEventDispatcher } from "svelte";
  import { formatTime } from "./util";

  export let timeFormatter: (n: number) => string = formatTime;
  export let seekable: boolean;
  export let duration: number;
  export let start: number;
  export let end: number;

  const dispatch = createEventDispatcher<{
    seekStart: number;
    seekEnd: number;
    stepStart: number;
    stepEnd: number;
  }>();

  function onPointerDown(e: PointerEvent) {
    if (!seekable) return;
    const curEl = e.currentTarget as HTMLElement;
    const el = e.target as HTMLElement;
    const getTimePos = (e: PointerEvent, min: number, max: number) => {
      const { left, width } = curEl.getBoundingClientRect();
      let p = Math.min(Math.max(min, (e.clientX - left) / width), max);
      return p * duration;
    };
    const pos = getTimePos(e, 0, 1);
    const event = (() => {
      if (el.id === "start-thumb" || pos <= start) {
        return "seekStart";
      } else if (el.id === "end-thumb" || end <= pos) {
        return "seekEnd";
      } else {
        return undefined;
      }
    })();
    if (!event) return;

    let enter = true;
    let time = 0;
    const seek = (() => {
      switch (event) {
        case "seekStart":
          return (e: PointerEvent) => {
            time = getTimePos(e, 0, end / duration);
            dispatch(event, time);
            enter = false;
          };
        case "seekEnd":
          return (e: PointerEvent) => {
            time = getTimePos(e, start / duration, 1);
            dispatch(event, time);
            enter = false;
          };
      }
    })();
    seek(e);
    window.addEventListener("pointermove", seek);
    window.addEventListener(
      "pointerup",
      () => window.removeEventListener("pointermove", seek),
      { once: true }
    );
  }

  function onThumbFocus(e: FocusEvent) {
    const el = e.target as HTMLElement;
    const event = (() => {
      switch (el.id) {
        case "start-thumb":
          return "stepStart";
        case "end-thumb":
          return "stepEnd";
        default:
          return undefined;
      }
    })();
    if (!event) return;
    const keydown = (e: KeyboardEvent) => {
      switch (e.code) {
        case "ArrowLeft":
          dispatch(event, -1);
          break;
        case "ArrowRight":
          dispatch(event, 1);
          break;
      }
    };
    window.addEventListener("keydown", keydown);
    e.target?.addEventListener(
      "blur",
      () => window.removeEventListener("keydown", keydown),
      { once: true }
    );
  }
</script>

<div class={"bx--slider-container"}>
  <span class="bx--slider__range-label" style:margin-left="10px">
    {timeFormatter(start)}
  </span>
  <div
    class="bx--slider"
    class:bx--slider--disabled={!seekable}
    style:max-width="100%"
    on:pointerdown={onPointerDown}
  >
    <div
      class="bx--slider__thumb"
      id="start-thumb"
      style:left="{clamp(start / duration) * 100}%"
      tabindex="-1"
      on:focus={onThumbFocus}
    />
    <div
      class="bx--slider__thumb"
      id="end-thumb"
      style:left="{clamp(end / duration) * 100}%"
      tabindex="-1"
      on:focus={onThumbFocus}
    />
    <div class="bx--slider__track" />
    <div
      class="bx--slider__filled-track"
      style="transform: translate({clamp(start / duration) *
        100}%, -50%) scaleX({clamp((end - start) / duration)});"
    />
  </div>
  <span class="bx--slider__range-label" style:margin-right="10px">
    {timeFormatter(end)}
  </span>
</div>
