<script lang="ts">
  import { calcDigit, makeFormatFrame } from "./util";
  import { createEventDispatcher } from "svelte";
  import { Button } from "carbon-components-svelte";
  import Play from "carbon-icons-svelte/lib/Play.svelte";
  import Pause from "carbon-icons-svelte/lib/Pause.svelte";
  import {
    AnimatedImage,
    type VideoFrameData,
  } from "../../webcodecs/videoframe";
  import ABLoopBar from "./ABLoopBar.svelte";
  import SeekBar from "./SeekBar.svelte";

  export let frameController: AnimatedImage;

  const dispatch = createEventDispatcher<{
    newFrame: VideoFrameData;
    changeFps: number;
  }>();

  let paused: boolean = frameController.paused;

  let time: number = frameController.currentTime;
  let duration: number = frameController.duration;

  let start = frameController.start;
  let end = frameController.end - 1;

  let fps: number = frameController.fps;

  play();

  export function play() {
    paused = false;
    frameController.play((desc) => {
      time = frameController.currentTime;
      dispatch("newFrame", desc);
      if (duration !== frameController.duration) {
        duration = frameController.duration;
      }
      if (fps !== frameController.fps) {
        fps = frameController.fps;
        dispatch("changeFps", fps);
      }
    });
  }
  export async function pause() {
    paused = true;
    await frameController.pause();
  }
  export async function reset() {
    await frameController.setCurrentTime(0);
    time = 0;
    dispatch("newFrame", frameController.getFrameData());
  }

  function onClickPlayButton() {
    if (frameController.paused) {
      play();
    } else {
      pause();
    }
  }

  function onSeekStartPos(e: CustomEvent<number>) {
    if (!frameController.paused) pause();
    start = frameController.start;
    frameController.setStart(e.detail).then(async () => {
      await frameController.setCurrentTime(0);
      time = frameController.currentTime;
      duration = frameController.duration;
      start = frameController.start;
      dispatch("newFrame", frameController.getFrameData());
    });
  }

  function onSeekEndPos(e: CustomEvent<number>) {
    if (!frameController.paused) pause();
    end = frameController.end - 1;
    frameController.setEnd(e.detail).then(async () => {
      await frameController.setCurrentTime(frameController.duration);
      time = frameController.currentTime;
      duration = frameController.duration;
      end = frameController.end - 1;
      dispatch("newFrame", frameController.getFrameData());
    });
  }

  function onStepStartPos(e: CustomEvent<number>) {
    frameController.advanceStart(e.detail).then(async (res) => {
      if (!res) return;
      await frameController.setCurrentTime(0);
      time = frameController.currentTime;
      duration = frameController.duration;
      start = frameController.start;
      dispatch("newFrame", frameController.getFrameData());
    });
  }

  function onStepEndPos(e: CustomEvent<number>) {
    frameController.advanceEnd(e.detail).then(async (res) => {
      if (!res) return;
      await frameController.setCurrentTime(frameController.duration);
      time = frameController.currentTime;
      duration = frameController.duration;
      end = frameController.end - 1;
      dispatch("newFrame", frameController.getFrameData());
    });
  }

  function onSeek(e: CustomEvent<number>) {
    if (!frameController.paused) pause();
    frameController.setCurrentTime(e.detail).then(() => {
      time = frameController.currentTime;
      dispatch("newFrame", frameController.getFrameData());
    });
  }

  function onStep(e: CustomEvent<number>) {
    frameController.advanceFrame(e.detail).then((res) => {
      if (!res) return;
      time = frameController.currentTime;
      dispatch("newFrame", frameController.getFrameData());
    });
  }
</script>

<div>
  <Button
    size="small"
    icon={paused ? Play : Pause}
    iconDescription={paused ? "play" : "pause"}
    on:click={onClickPlayButton}
  />
</div>
<div style:width="100%">
  <ABLoopBar
    timeFormatter={makeFormatFrame(calcDigit(frameController.srcDuration - 1))}
    seekable={frameController.seekable}
    duration={frameController.srcDuration - 1}
    bind:start
    bind:end
    on:seekStart={onSeekStartPos}
    on:seekEnd={onSeekEndPos}
    on:stepStart={onStepStartPos}
    on:stepEnd={onStepEndPos}
  />
  <SeekBar
    timeFormatter={makeFormatFrame(calcDigit(frameController.srcDuration - 1))}
    seekable={frameController.seekable}
    duration={duration - 1}
    {time}
    on:seek={onSeek}
    on:step={onStep}
  />
</div>
