<script lang="ts" context="module">
  import type { ComponentType, SvelteComponent } from "svelte";
  import {
    type VideoFrameController,
    type VideoFrameData,
    Video,
    AnimatedImage,
  } from "../../webcodecs/videoframe";

  type PlayerComponent = SvelteComponent<
    {
      frameController: any;
    },
    { newFrame: CustomEvent<VideoFrameData>; changeFps: CustomEvent<number> },
    any
  > & {
    play: () => void;
    pause: () => Promise<void>;
    reset: () => Promise<void>;
  };
</script>

<script lang="ts">
  import { default as VideoP } from "./Video.svelte";
  import { default as AnimatedImageP } from "./AnimatedImage.svelte";
  import { default as StaticImageP } from "./StaticImage.svelte";

  export let hidden: boolean = false;
  export let frameController: VideoFrameController;

  let component: ComponentType<PlayerComponent> = (() => {
    if (frameController instanceof Video) {
      return VideoP;
    } else if (frameController instanceof AnimatedImage) {
      return AnimatedImageP;
    } else {
      return StaticImageP;
    }
  })();
  let instance: PlayerComponent;

  export function play() {
    instance.play();
  }
  export async function pause() {
    await instance.pause();
  }
  export async function reset() {
    await instance.reset();
  }
</script>

<div
  style:display={hidden ? "none" : "flex"}
  style:flex-direction="row"
  {...$$restProps}
>
  <svelte:component
    this={component}
    bind:this={instance}
    on:newFrame
    on:changeFps
    {frameController}
  />
</div>

<style>
</style>
