<script lang="ts">
  import { createEventDispatcher } from "svelte";
  import { formatTime } from "./util";

  export let timeFormatter: (n: number) => string = formatTime;
  export let seekable: boolean;
  export let duration: number;
  export let time: number;

  const dispatch = createEventDispatcher<{
    seek: number;
    step: number;
  }>();

  function onPointerDown(e: PointerEvent) {
    if (!seekable) return;
    const elm = e.currentTarget as HTMLElement;
    const seek = (e: PointerEvent) => {
      const { left, width } = elm.getBoundingClientRect();
      let p = Math.min(Math.max(0, (e.clientX - left) / width), 1);
      time = p * duration;
      dispatch("seek", time);
    };
    seek(e);
    window.addEventListener("pointermove", seek);
    window.addEventListener(
      "pointerup",
      () => {
        window.removeEventListener("pointermove", seek);
      },
      { once: true }
    );
  }

  function onThumbFocus(e: FocusEvent) {
    const keydown = (e: KeyboardEvent) => {
      switch (e.code) {
        case "ArrowLeft":
          dispatch("step", -1);
          break;
        case "ArrowRight":
          dispatch("step", 1);
          break;
      }
    };
    window.addEventListener("keydown", keydown);
    e.target?.addEventListener(
      "blur",
      () => window.removeEventListener("keydown", keydown),
      { once: true }
    );
  }
</script>

<div class="bx--slider-container">
  <span class="bx--slider__range-label" style:margin-left="10px">
    {timeFormatter(time)}
  </span>
  <div
    class="bx--slider"
    class:bx--slider--disabled={!seekable}
    style:max-width="100%"
    on:pointerdown={onPointerDown}
  >
    <div
      class="bx--slider__thumb"
      style="left: {(time / duration) * 100}%"
      tabindex="-1"
      on:focus={onThumbFocus}
    />
    <div class="bx--slider__track" />
    <div
      class="bx--slider__filled-track"
      style="transform: translate(0px, -50%) scaleX({time / duration});"
    />
  </div>
  <span class="bx--slider__range-label" style:margin-right="10px">
    {timeFormatter(duration)}
  </span>
</div>
