<script lang="ts">
  import { calcDigit, makeFormatFrame } from "./util";
  import { createEventDispatcher } from "svelte";
  import { Button, NumberInput } from "carbon-components-svelte";
  import Play from "carbon-icons-svelte/lib/Play.svelte";
  import Pause from "carbon-icons-svelte/lib/Pause.svelte";
  import { StaticImage, type VideoFrameData } from "../../webcodecs/videoframe";
  import { default as SeekBar } from "./SeekBar.svelte";

  export let frameController: StaticImage;

  const dispatch = createEventDispatcher<{
    newFrame: VideoFrameData;
    changeFps: number;
  }>();

  let paused: boolean = frameController.paused;
  let time: number = frameController.currentTime;
  let duration: number = frameController.duration;
  let fps: number = frameController.fps;
  let frames: number = frameController.frames;
  let playable: boolean = frameController.isPlayable;

  export function play() {
    paused = false;
    frameController.play((desc) => {
      time = frameController.currentTime;
      dispatch("newFrame", desc);
    });
  }
  export async function pause() {
    paused = true;
    await frameController.pause();
  }
  export async function reset() {
    await frameController.setCurrentTime(0);
    time = 0;
    dispatch("newFrame", frameController.getFrameData());
  }

  function setDuration(fps: number, frames: number) {
    frameController.setDuration(fps, frames);
    time = frameController.currentTime;
    duration = frameController.duration;
    playable = frameController.isPlayable;
  }
  $: setDuration(fps, frames);

  $: dispatch("changeFps", fps);

  function onClickPlayButton() {
    if (frameController.paused) {
      play();
    } else {
      pause();
    }
  }
</script>

<div>
  <Button
    size="small"
    disabled={!playable}
    icon={paused ? Play : Pause}
    iconDescription={paused ? "play" : "pause"}
    on:click={onClickPlayButton}
  />
</div>

<div style:width="100%">
  <div style:display="flex" style:align-items="center">
    <span>fps</span>
    <div style="max-width: 150px;">
      <NumberInput size="sm" min={0} bind:value={fps} />
    </div>
    <span>step</span>
    <div style="max-width: 150px;">
      <NumberInput size="sm" min={0} bind:value={frames} />
    </div>
  </div>
  <SeekBar
    timeFormatter={makeFormatFrame(calcDigit(duration - 1))}
    seekable={false}
    duration={duration - 1}
    {time}
  />
</div>
