<script lang="ts">
  import { createEventDispatcher } from "svelte";
  import { Button } from "carbon-components-svelte";
  import Play from "carbon-icons-svelte/lib/Play.svelte";
  import Pause from "carbon-icons-svelte/lib/Pause.svelte";
  import { Video, type VideoFrameData } from "../../webcodecs/videoframe";
  import Volume from "./Volume.svelte";
  import SeekBar from "./SeekBar.svelte";
  import ABLoopBar from "./ABLoopBar.svelte";

  export let frameController: Video;

  const dispatch = createEventDispatcher<{
    newFrame: VideoFrameData;
    changeFps: number;
  }>();

  export function play() {
    paused = false;
    frameController.play((desc) => {
      time = desc.timestamp;
      dispatch("newFrame", desc);
    });
  }
  export async function pause() {
    paused = true;
    await frameController.pause();
  }
  export async function reset() {
    await frameController.setCurrentTime(0);
    time = 0;
    dispatch("newFrame", frameController.getFrameData());
  }

  let paused = frameController.paused;

  let time = frameController.currentTime;
  let duration = frameController.duration;

  let start = frameController.start;
  let end = frameController.end;

  let muted = frameController.muted;
  let volume = frameController.volume;

  $: frameController.muted = muted;
  $: frameController.volume = volume;

  if (!paused) play();

  function onClickPlayButton() {
    if (frameController.paused) {
      play();
    } else {
      pause();
    }
  }

  function onSeekStartPos(e: CustomEvent<number>) {
    if (!frameController.paused) pause();
    start = frameController.start;
    frameController.setStart(e.detail).then(async () => {
      await frameController.setCurrentTime(0);
      time = frameController.currentTime;
      duration = frameController.duration;
      start = frameController.start;
      dispatch("newFrame", frameController.getFrameData());
    });
  }

  function onSeekEndPos(e: CustomEvent<number>) {
    if (!frameController.paused) pause();
    end = frameController.end;
    frameController.setEnd(e.detail).then(async () => {
      await frameController.setCurrentTime(frameController.duration);
      time = frameController.currentTime;
      duration = frameController.duration;
      end = frameController.end;
      dispatch("newFrame", frameController.getFrameData());
    });
  }

  function onStepStartPos(e: CustomEvent<number>) {
    frameController.advanceStart(e.detail).then(async (res) => {
      if (!res) return;
      await frameController.setCurrentTime(0);
      time = frameController.currentTime;
      duration = frameController.duration;
      start = frameController.start;
      dispatch("newFrame", frameController.getFrameData());
    });
  }

  function onStepEndPos(e: CustomEvent<number>) {
    frameController.advanceEnd(e.detail).then(async (res) => {
      if (!res) return;
      await frameController.setCurrentTime(frameController.duration);
      time = frameController.currentTime;
      duration = frameController.duration;
      end = frameController.end;
      dispatch("newFrame", frameController.getFrameData());
    });
  }

  function onSeek(e: CustomEvent<number>) {
    if (!frameController.paused) pause();
    time = e.detail;
    frameController.setCurrentTime(e.detail).then(() => {
      time = frameController.currentTime;
      dispatch("newFrame", frameController.getFrameData());
    });
  }

  function onStep(e: CustomEvent<number>) {
    frameController.advanceFrame(e.detail).then((res) => {
      if (!res) return;
      time = frameController.currentTime;
      dispatch("newFrame", frameController.getFrameData());
    });
  }
</script>

<div>
  <Button
    size="small"
    icon={paused ? Play : Pause}
    iconDescription={paused ? "play" : "pause"}
    tooltipPosition="top"
    isSelected
    on:click={onClickPlayButton}
  />
  <Volume bind:muted bind:volume />
</div>

<div style:width="100%">
  <ABLoopBar
    seekable={frameController.seekable}
    duration={frameController.srcDuration}
    bind:start
    bind:end
    on:seekStart={onSeekStartPos}
    on:seekEnd={onSeekEndPos}
    on:stepStart={onStepStartPos}
    on:stepEnd={onStepEndPos}
  />
  <SeekBar
    seekable={frameController.seekable}
    {duration}
    {time}
    on:seek={onSeek}
    on:step={onStep}
  />
</div>

<style>
</style>
