<script lang="ts">
  import { Button } from "carbon-components-svelte";
  import VolumeMute from "carbon-icons-svelte/lib/VolumeMute.svelte";
  import VolumeUp from "carbon-icons-svelte/lib/VolumeUp.svelte";

  export let muted: boolean = true;
  export let volume: number = 0;
  let innerVolume: number = volume;

  function onClick() {
    muted = !muted;
    if (muted) {
      innerVolume = volume;
      volume = 0;
    } else {
      volume = innerVolume;
    }
  }

  function onWheel(e: WheelEvent) {
    if (muted) return;
    if (e.deltaY < 0) {
      volume = Math.min(1.0, volume + 0.02);
    } else {
      volume = Math.max(0.0, volume - 0.02);
    }
  }
</script>

<section on:wheel={onWheel}>
  <Button
    size="small"
    icon={muted ? VolumeMute : VolumeUp}
    kind={muted ? "ghost" : "secondary"}
    iconDescription={muted ? "mute" : `${volume.toFixed(2)}`}
    on:click={onClick}
  />
</section>
