<script lang="ts" context="module">
  import { writable } from "svelte/store";
  export const abort = writable<string>();
</script>

<script>
  import { ToastNotification } from "carbon-components-svelte";
</script>

<div
  style:height="100%"
  style:width="100%"
  style:display="flex"
  style:align-items="center"
  style:justify-content="center"
>
  <ToastNotification
    lowContrast
    title="Abort"
    subtitle={$abort}
    on:close={() => location.reload()}
  />
</div>
