<script lang="ts">
  import ChevronDown from "carbon-icons-svelte/lib/ChevronDown.svelte";
  import ChevronUp from "carbon-icons-svelte/lib/ChevronUp.svelte";
  export let close: boolean = false;
</script>

<div
  style:cursor="pointer"
  style:text-align="center"
  {...$$restProps}
  on:pointerdown={() => (close = !close)}
>
  {#if close}
    <ChevronDown />
  {:else}
    <ChevronUp />
  {/if}
</div>
