<script lang="ts">
  import { onMount } from "svelte";
  import { SplitPane } from "@rich_harris/svelte-split-pane";
  import Canvas from "../webgpu/canvas";
  import type { Context } from "../webgpu/context";
  import Editor from "./Editor.svelte";
  import type { VideoFrameController } from "../webcodecs/videoframe";

  export let device: GPUDevice;
  export let frameController: VideoFrameController;
  export let name: string;

  let canvasPane: HTMLElement;
  let ctx: Context;

  onMount(() => {
    const canvas = new Canvas(
      canvasPane,
      device,
      [frameController.width, frameController.height],
      [0.1, 0.1, 0.1, 1.0]
    );
    ctx = canvas.getContext();
    return () => canvas.dispose();
  });
</script>

<SplitPane
  type="horizontal"
  id="main"
  min="30%"
  max="-10px"
  pos="70%"
  priority="max"
  --color="gray"
>
  <section slot="a" bind:this={canvasPane} />
  <section slot="b" style:padding-left="10px">
    {#if ctx}
      <Editor {device} {ctx} {frameController} {name} />
    {/if}
  </section>
</SplitPane>
