<script lang="ts">
  import { Select, SelectItem } from "carbon-components-svelte";

  export let items: ReadonlyArray<string> = [];

  let selected: number = 0;

  export function getSelectedIdx() {
    return selected;
  }
</script>

<Select bind:selected {...$$restProps}>
  {#each items as item, idx}
    <SelectItem value={idx} text={item} />
  {/each}
</Select>
