<script lang="ts" context="module">
  const severityMap = { info: 2, warning: 4, error: 8 };

  const monacoConfig = {
    language: "wgsl",
    automaticLayout: true,
    lineNumbersMinChars: 2,
    minimap: { enabled: false },
    tabSize: 2,
  };

  function rowStyle(lastChild: boolean = false) {
    return (
      "padding-top: 4px;" +
      "padding-bottom: 4px;" +
      "flex: auto;" +
      (lastChild ? "border-bottom: none;" : "border-bottom: 1px solid gray;")
    );
  }

  interface UniformDataItem {
    type: UniformValueTypes;
    value: number[];
  }

  interface UniformData {
    [K: string]: UniformDataItem;
  }

  interface FixedSize {
    w: number;
    h: number;
  }

  interface StorageItem {
    src: string;
    uni: UniformData;
    size: FixedSize | null;
  }

  interface Storage {
    [K: string]: StorageItem;
  }
</script>

<script lang="ts">
  import type { Context } from "../webgpu/context";
  import { onDestroy } from "svelte";
  import AccordionButton from "./AccordionButton.svelte";
  import Player from "./player/Player.svelte";
  import Save from "./save/Save.svelte";
  import type { ImageWriter, AnimeWriter } from "./save/Save.svelte";
  import FilterSelector from "./FilterSelector.svelte";
  import Size from "./Size.svelte";
  import Parameter from "./Parameter.svelte";
  import Monaco from "./Monaco.svelte";
  import Filter from "../webgpu/filter";
  import NullFilter from "../nullfilter.json";
  import { addToast } from "./Toast.svelte";
  import { setModal } from "./Modal.svelte";
  import type { UniformDataRecipe, UniformValueTypes } from "../webgpu/uniform";
  import type {
    VideoFrameController,
    VideoFrameData,
  } from "../webcodecs/videoframe";
  import type { ParameterBuffer } from "./Parameter.svelte";
  import { ProgressBar } from "carbon-components-svelte";

  export let device: GPUDevice;
  export let ctx: Context;
  export let frameController: VideoFrameController;
  export let name: string;

  const filter = new Filter(device, ctx, frameController.getFrameData().frame);
  filter.draw();

  let hasFilter: boolean = false;
  let fps: number = frameController.fps;

  let player: Player;
  let saveElm: Save;
  let selectorElm: FilterSelector;
  let paramElm: Parameter;
  let sizeElm: Size;
  let monaco: Monaco;
  let focusSrc: boolean;

  function onNewFrame(e: CustomEvent<VideoFrameData>) {
    filter.updateFrame(e.detail.frame, e.detail.timestamp);
    filter.drawAtNextFrame();
  }

  function onChangeFps(e: CustomEvent<number>) {
    fps = e.detail;
  }

  function compile() {
    const src = monaco.getValue();
    const uni = paramElm.getRecipe();
    filter.setShader(src, uni).then((res) => {
      if (res.success) {
        const paramVals = paramElm.getValues();
        Object.entries(paramVals).forEach(([key, val]) =>
          filter.setParameter(key, val)
        );
        if (filter.enable) filter.drawAtNextFrame();
      }
      const markers = res.msgs.map((msg) => ({
        severity: severityMap[msg.type],
        startLineNumber: msg.row,
        endLineNumber: msg.row,
        startColumn: msg.col,
        endColumn: msg.col + msg.len,
        message: msg.msg,
      }));
      if (monaco) monaco.setMarkers("filter", markers);
    });
  }

  function applySize() {
    const [fixSize, w, h] = sizeElm.getValue();
    if (filter.enable && fixSize) {
      filter.resize([w, h]);
    } else {
      filter.resize([frameController.width, frameController.height]);
    }
  }

  function onToggleFilterApply(e: CustomEvent<boolean>) {
    filter.enable = e.detail;
    applySize();
    filter.drawAtNextFrame();
  }

  async function onChangeFilter(e: CustomEvent<string>) {
    if (e.detail === "") {
      hasFilter = false;
      return;
    } else {
      hasFilter = true;
    }

    const item = (await chrome.storage.local.get({ [e.detail]: {} }))[e.detail];
    const desc: StorageItem = { ...NullFilter, ...item };
    if (desc.size) {
      sizeElm.setValue([true, desc.size.w, desc.size.h]);
    } else {
      sizeElm.setValue([false, frameController.width, frameController.height]);
    }
    applySize();

    type ParsedUniformDataItem = {
      recipe: UniformDataRecipe;
      value: ParameterBuffer;
    };
    const uni = Object.entries(desc.uni).reduce<ParsedUniformDataItem>(
      (accm, [key, val]) => {
        accm.recipe[key] = val.type;
        accm.value[key] = val.value;
        return accm;
      },
      { recipe: {}, value: {} }
    );
    monaco.setValue(desc.src);
    paramElm.setRecipe(uni.recipe, uni.value);
    compile();
  }

  function onFliterRequestSave() {
    const name = selectorElm.getValue();
    if (name === "") return;

    const src = monaco.getValue();

    const recipe = paramElm.getRecipe();
    const param = paramElm.getValues();
    const uni = Object.entries<UniformValueTypes>(recipe).reduce<UniformData>(
      (accm, [key, type]) => {
        accm[key] = { type, value: param[key] };
        return accm;
      },
      {}
    );

    const [fixSize, w, h] = sizeElm.getValue();
    const size = fixSize ? { w, h } : null;

    const filter: Storage = {
      [name]: { src, uni, size },
    };
    chrome.storage.local.set(filter).then(() => {
      addToast({
        kind: "info",
        title: "saved",
        subtitle: `filter "${name}" saved`,
      });
    });
  }

  function onToggleSize(_: CustomEvent<boolean>) {
    applySize();
    filter.drawAtNextFrame();
  }

  function onChangeSize(e: CustomEvent<{ width: number; height: number }>) {
    if (filter.enable) {
      filter.resize([e.detail.width, e.detail.height]);
      filter.drawAtNextFrame();
    }
  }

  function onParamChange(e: CustomEvent<{ key: string; value: number[] }>) {
    filter.setParameter(e.detail.key, e.detail.value);
    filter.drawAtNextFrame();
  }

  function onParamRecipeChange() {
    compile();
  }

  function onSrcUpdate(_: any) {
    compile();
  }

  async function onRequestSaveImage(e: CustomEvent<ImageWriter>) {
    const writer = e.detail;
    const modalProp = {
      modalHeading: "write image",
      passiveModal: true,
      preventCloseOnClickOutside: true,
    };
    const modalOpts = {
      slots: [
        {
          component: ProgressBar,
          props: { status: "active" },
        },
      ],
      close: writer.cancel,
    };
    setModal(modalProp, modalOpts);
    writer.write(await filter.getImageData(true)).then(() => {
      modalProp.preventCloseOnClickOutside = false;
      modalOpts.slots[0].props.status = "finished";
      setModal(modalProp, modalOpts);
    });
  }

  async function onRequestSaveAnime(e: CustomEvent<AnimeWriter>) {
    const writer = e.detail;
    const modalProp = {
      modalHeading: "write animation",
      passiveModal: true,
      preventCloseOnClickOutside: true,
    };
    let cancel = false;
    const modalOpts = {
      slots: [
        {
          component: ProgressBar,
          props: { value: 0, max: frameController.duration, status: "active" },
        },
      ],
      close: () => (cancel = true),
    };

    setModal(modalProp, modalOpts);
    await player.pause();
    await player.reset();
    let queue: number[] = [];
    do {
      if (cancel) {
        writer.cancel();
        return;
      }
      const frameData = frameController.getFrameData();
      filter.updateFrame(frameData.frame, frameData.timestamp);
      filter.draw();
      queue.push(frameController.currentTime);
      const promise = writer.push(await filter.getImageData(true)).then(() => {
        modalOpts.slots[0].props.value = queue.shift()!;
        if (!cancel) setModal(modalProp, modalOpts);
      });
      if (queue.length > writer.workerCount * 2) await promise;
    } while (await frameController.advanceFrame(writer.step));

    writer.finish().then(() => {
      modalProp.preventCloseOnClickOutside = false;
      modalOpts.slots[0].props.value = 1;
      modalOpts.slots[0].props.max = 1;
      modalOpts.slots[0].props.status = "finished";
      setModal(modalProp, modalOpts);
    });
  }

  $: if (monaco && !focusSrc) monaco.reLayout();

  onDestroy(() => filter.dispose());
</script>

<div style:height="100%" style:display="flex" style:flex-direction="column">
  <AccordionButton style={rowStyle()} bind:close={focusSrc} />
  <Player
    style={rowStyle()}
    bind:this={player}
    hidden={focusSrc}
    {frameController}
    on:newFrame={onNewFrame}
    on:changeFps={onChangeFps}
  />
  <Save
    style={rowStyle()}
    bind:this={saveElm}
    bind:hidden={focusSrc}
    {name}
    {fps}
    on:requestSaveImage={onRequestSaveImage}
    on:requestSaveAnime={onRequestSaveAnime}
  />
  <FilterSelector
    style={rowStyle()}
    bind:this={selectorElm}
    hidden={focusSrc}
    on:toggle={onToggleFilterApply}
    on:change={onChangeFilter}
    on:requestSave={onFliterRequestSave}
  />
  {#if hasFilter}
    <Size
      style={rowStyle()}
      bind:this={sizeElm}
      hidden={focusSrc}
      width={frameController.width}
      height={frameController.height}
      on:toggle={onToggleSize}
      on:change={onChangeSize}
    />
    <Parameter
      style={rowStyle()}
      bind:this={paramElm}
      hidden={focusSrc}
      on:changeValue={onParamChange}
      on:updateRecipe={onParamRecipeChange}
    />
    <Monaco
      style={`${rowStyle(true)} height: 100%;`}
      bind:this={monaco}
      config={monacoConfig}
      on:update={onSrcUpdate}
    />
  {:else}
    <div style:height="100%" />
  {/if}
</div>
