<script lang="ts" context="module">
  function getStem(filename: string) {
    return filename.slice(0, filename.lastIndexOf("."));
  }
  function getFileName(path: string) {
    return path.split("/").at(-1)!;
  }
</script>

<script lang="ts">
  import "../app.css";
  import "carbon-components-svelte/css/g100.css";

  import { FileUploaderDropContainer, Loading } from "carbon-components-svelte";
  import Abort, { abort } from "./Abort.svelte";
  import Modal from "./Modal.svelte";
  import { default as Toast, addToast } from "./Toast.svelte";
  import App from "./App.svelte";
  import type { VideoFrameController } from "../webcodecs/videoframe";
  import {
    makeVideoFrameControllerFromElm,
    makeVideoFrameControllerFromFile,
  } from "../webcodecs/make-controller";

  export let mediaEl: HTMLImageElement | HTMLVideoElement | undefined =
    undefined;

  if (mediaEl instanceof HTMLImageElement && !window.isSecureContext) {
    addToast({
      kind: "warning-alt",
      title: "this page is not in a secure context",
      subtitle: "animated image cannot be decoded on this page",
      timeout: 5000,
    });
  }

  const devicePromise: Promise<GPUDevice> = new Promise<GPUAdapter | null>(
    (resolve, reject) => {
      if (navigator.gpu) {
        resolve(navigator.gpu.requestAdapter());
      } else {
        abort.set("WebGPU not supported");
        reject();
      }
    }
  ).then((adapter) => {
    if (!adapter) {
      abort.set("request WebGPU adapter failed");
      return Promise.reject();
    }
    return adapter.requestDevice();
  });

  let fileResolve: (file: File) => void;
  const filePromise: Promise<File> = new Promise<File>((resolve) => {
    fileResolve = resolve;
  });

  function onDrop(e: CustomEvent<ReadonlyArray<File>>) {
    if (e.detail.length === 0) return;
    fileResolve(e.detail[0]);
  }

  const frameControllerPromise: Promise<[VideoFrameController, string]> =
    mediaEl
      ? new Promise<[VideoFrameController, string]>(async (resolve) => {
          const controller = await makeVideoFrameControllerFromElm(mediaEl!);
          const path = mediaEl!.src !== "" ? mediaEl!.src : mediaEl!.currentSrc;
          const name = getStem(getFileName(path));
          resolve([controller, name]);
        })
      : filePromise.then(
          async (file): Promise<[VideoFrameController, string]> => {
            const controller = await makeVideoFrameControllerFromFile(file);
            const name = getStem(file.name);
            return [controller, name];
          }
        );

  frameControllerPromise.catch((msg) => abort.set(msg));
</script>

{#if $abort}
  <Abort />
{:else}
  <Modal />
  <Toast />
  {#await devicePromise}
    <Loading />
  {:then device}
    {#await frameControllerPromise}
      {#if !mediaEl}
        <div class="drop-container">
          <FileUploaderDropContainer
            accept={["image/*", "video/*"]}
            labelText="Drag and drop file here or click to upload"
            on:add={onDrop}
          />
        </div>
      {:else}
        <Loading />
      {/if}
    {:then [frameController, name]}
      <App {device} {frameController} {name} />
    {/await}
  {/await}
{/if}

<style>
  .drop-container,
  .drop-container :global(.bx--file),
  .drop-container :global(.bx--file-browse-btn),
  .drop-container :global(.bx--file__drop-container) {
    height: 100%;
    width: 100%;
    max-width: 100%;
    margin: 0px;
  }
  .drop-container :global(.bx--file__drop-container) {
    align-items: center;
    justify-content: center;
  }
</style>
