<script lang="ts" context="module">
  import { writable } from "svelte/store";
  import type { ComponentProps, ComponentType, SvelteComponent } from "svelte";
  import { Modal } from "carbon-components-svelte";

  type ModalProps = ComponentProps<Modal>;

  interface ModalSlot {
    component: ComponentType<SvelteComponent>;
    props: Record<string, any>;
  }

  interface ModalOpts {
    submit?: (instances: (HTMLElement | SvelteComponent)[]) => boolean;
    close?: () => void;
    slots?: (ModalSlot | string)[];
  }

  interface ModalDesc {
    props: ComponentProps<Modal>;
    submit: (instances: (HTMLElement | SvelteComponent)[]) => void;
    close: Required<ModalOpts>["close"];
    slots: Required<ModalOpts>["slots"];
  }

  const modal = writable<ModalDesc>({
    props: { open: false },
    submit: () => {},
    close: () => {},
    slots: [],
  });

  const defaultModalProps: ComponentProps<Modal> = {
    open: true,
    size: "xs",
    primaryButtonText: "ok",
    secondaryButtonText: "cancel",
  };

  const setModal = (
    props: ModalProps,
    {
      submit = () => false,
      close = () => {},
      slots = [],
    }: Partial<ModalOpts> = {}
  ) => {
    props = {
      ...defaultModalProps,
      ...props,
    };
    const submitWrapper = (instances: (HTMLElement | SvelteComponent)[]) => {
      if (!submit(instances)) return;
      modal.update((desc) => {
        if (desc) desc.props.open = false;
        return desc;
      });
    };
    const desc = {
      props,
      submit: submitWrapper,
      close,
      slots: slots ? slots : [],
    };
    modal.set(desc);
  };

  export { setModal };
  export type { ModalProps, ModalOpts };
</script>

<script lang="ts">
  let instances: (HTMLElement | SvelteComponent)[] = [];
  $: instances.length = $modal.slots.length;
</script>

<Modal
  {...$modal.props}
  on:submit={() => $modal.submit(instances)}
  on:close={() => $modal.close()}
  on:click:button--secondary={() => ($modal.props.open = false)}
>
  {#each $modal.slots as slot, i}
    {#if typeof slot === "string"}
      <p bind:this={instances[i]}>{slot}</p>
    {:else}
      <svelte:component
        this={slot.component}
        bind:this={instances[i]}
        {...slot.props}
      />
    {/if}
  {/each}
</Modal>
