<script lang="ts" context="module">
  import editorWorker from "monaco-editor/esm/vs/editor/editor.worker?worker";
  // @ts-ignore
  import { language } from "monaco-editor/esm/vs/basic-languages/wgsl/wgsl.js";

  self.MonacoEnvironment = { getWorker: () => new editorWorker() };

  const completionItemBase: monaco.languages.CompletionItem[] = [
    language.keywords.map((label: string) => ({
      label,
      kind: monaco.languages.CompletionItemKind.Keyword,
      insertText: label,
      range: undefined,
    })),
    language.predeclared_intrinsics.map((label: string) => ({
      label,
      kind: monaco.languages.CompletionItemKind.Function,
      insertText: label,
      range: undefined,
    })),
    language.predeclared_types.map((label: string) => ({
      label,
      kind: monaco.languages.CompletionItemKind.TypeParameter,
      insertText: label,
      range: undefined,
    })),
    language.predeclared_type_generators.map((label: string) => ({
      label,
      kind: monaco.languages.CompletionItemKind.TypeParameter,
      insertText: label,
      range: undefined,
    })),
    language.predeclared_type_aliases.map((label: string) => ({
      label,
      kind: monaco.languages.CompletionItemKind.TypeParameter,
      insertText: label,
      range: undefined,
    })),
  ].flat();

  const completion: monaco.languages.CompletionItemProvider = {
    provideCompletionItems(
      model: monaco.editor.ITextModel,
      position: monaco.Position,
      _context: monaco.languages.CompletionContext,
      _token: monaco.CancellationToken
    ): monaco.languages.ProviderResult<monaco.languages.CompletionList> {
      const word = model.getWordUntilPosition(position);
      const range: monaco.IRange = {
        startLineNumber: position.lineNumber,
        endLineNumber: position.lineNumber,
        startColumn: word.startColumn,
        endColumn: word.endColumn,
      };
      return {
        suggestions: completionItemBase.map<monaco.languages.CompletionItem>(
          (item) => Object.assign(item, { range })
        ),
      };
    },
  };
</script>

<script lang="ts">
  import { createEventDispatcher, onMount, onDestroy } from "svelte";

  // import 'monaco-editor/esm/vs/editor/editor.all.js';
  import "monaco-editor/esm/vs/editor/browser/coreCommands.js";
  import "monaco-editor/esm/vs/editor/contrib/bracketMatching/browser/bracketMatching.js";
  import "monaco-editor/esm/vs/editor/contrib/comment/browser/comment.js";
  import "monaco-editor/esm/vs/editor/contrib/folding/browser/folding.js";
  import "monaco-editor/esm/vs/editor/contrib/hover/browser/hover.js";
  import "monaco-editor/esm/vs/editor/contrib/suggest/browser/suggestController.js";
  import "monaco-editor/esm/vs/editor/contrib/suggest/browser/suggestInlineCompletions.js";
  import "monaco-editor/esm/vs/base/browser/ui/codicons/codiconStyles.js";
  import CodiconFont from "monaco-editor/esm/vs/base/browser/ui/codicons/codicon/codicon.ttf?url";
  import * as monaco from "monaco-editor/esm/vs/editor/editor.api.js";
  import "monaco-editor/esm/vs/basic-languages/wgsl/wgsl.contribution.js";

  type DispatchEventType = {
    update: monaco.editor.IModelContentChangedEvent;
  };
  const dispatch = createEventDispatcher<DispatchEventType>();

  document.head.appendChild(document.createElement("style")).innerText =
    "@font-face{" +
    'font-family:"codicon";' +
    "font-display:block;" +
    `src: url(${chrome.runtime.getURL(CodiconFont)}) format("truetype");` +
    "}";

  let divEl: HTMLDivElement;
  let editor: monaco.editor.IStandaloneCodeEditor;

  export let config: monaco.editor.IStandaloneEditorConstructionOptions = {};
  export function getValue(): string {
    return editor.getValue();
  }
  export function setValue(value: string) {
    editor.setValue(value);
    editor.trigger("fold", "editor.foldAll", undefined);
  }
  export function setMarkers(
    owner: string,
    markers: monaco.editor.IMarkerData[]
  ): void {
    const model = editor.getModel();
    if (model) monaco.editor.setModelMarkers(model, owner, markers);
  }
  export function reLayout() {
    if (editor) editor.layout({ width: 0, height: 0 });
  }

  let changeTimer: number | null = null;

  onMount(async () => {
    monaco.editor.setTheme("vs-dark");
    monaco.languages.registerCompletionItemProvider("wgsl", completion);
    editor = monaco.editor.create(divEl, config);
    editor.onDidChangeModelContent((e) => {
      if (e.isFlush || e.isEolChange) return;
      if (changeTimer) clearTimeout(changeTimer);
      changeTimer = setTimeout(() => {
        changeTimer = null;
        dispatch("update", e);
      }, 500);
    });
  });

  onDestroy(() => {
    if (changeTimer) clearTimeout(changeTimer);
    editor.dispose();
  });
</script>

<div bind:this={divEl} {...$$restProps} />
