<script lang="ts" context="module">
  import type { UniformDataRecipe, UniformValueTypes } from "../webgpu/uniform";

  export type ParameterBuffer = { [K: string]: number[] };

  function makeInitValue(type: UniformValueTypes): number[] {
    return Array.from({ length: SIZEMAP[type] }, () => 0.5);
  }

  function makeInitBuffer(recipe: UniformDataRecipe) {
    return Object.entries(recipe).reduce<ParameterBuffer>(
      (accm, [name, type]) => {
        accm[name] = makeInitValue(type);
        return accm;
      },
      {}
    );
  }
</script>

<script lang="ts">
  import { createEventDispatcher } from "svelte";
  import { Select, SelectItem, Button } from "carbon-components-svelte";
  import Add from "carbon-icons-svelte/lib/Add.svelte";
  import Edit from "carbon-icons-svelte/lib/Edit.svelte";
  import TrashCan from "carbon-icons-svelte/lib/TrashCan.svelte";
  import { SIZEMAP } from "../webgpu/uniform";
  import Sliders from "./Sliders.svelte";
  // @ts-ignore
  import { language } from "monaco-editor/esm/vs/basic-languages/wgsl/wgsl.js";
  import { setModal } from "./Modal.svelte";
  import type { ModalProps, ModalOpts } from "./Modal.svelte";
  import TextInput from "./TextInput.svelte";
  import EasySelect from "./EasySelect.svelte";

  const dispatch = createEventDispatcher<{
    changeValue: { key: string; value: number[] };
    updateRecipe: undefined;
  }>();

  export let hidden: boolean = false;
  export let recipe: UniformDataRecipe = {};
  let names: string[];
  let buffer: ParameterBuffer;
  let selected: string;

  export function setRecipe(
    newRecipe: UniformDataRecipe,
    value?: ParameterBuffer
  ) {
    recipe = newRecipe;
    names = Object.keys(recipe);
    buffer = value ? value : makeInitBuffer(recipe);
    selected = names.length > 0 ? names[0] : "";
  }

  export function getRecipe(): UniformDataRecipe {
    return recipe;
  }

  export function getValues(): ParameterBuffer {
    return buffer;
  }

  setRecipe(recipe);

  function validateParameterName(name: string): string {
    if (recipe[name]) {
      return `"${name}" already in use`;
    }
    if (
      typeof name !== "string" ||
      name.length <= 0 ||
      /\W/.test(name) ||
      name === "_" ||
      (name[0] === "_" && name[1] === "_") ||
      (name[0] >= "0" && name[0] <= "9") ||
      language.keywords.find((a: string) => a === name) ||
      language.reserved.find((a: string) => a === name)
    ) {
      return `"${name}" is invalid name`;
    }
    return "";
  }

  function showAddModal() {
    const props: ModalProps = {
      modalHeading: "create new parameter",
      primaryButtonText: "create",
      selectorPrimaryFocus: "#parameter-name",
    };
    const items: UniformValueTypes[] = ["f32", "vec2f", "vec3f", "vec4f"];
    const opts: ModalOpts = {
      slots: [
        {
          component: TextInput,
          props: {
            validator: validateParameterName,
            size: "sm",
            value: "",
            id: "parameter-name",
            placeholder: "enter parameter name...",
          },
        },
        {
          component: EasySelect,
          props: {
            items,
            size: "sm",
          },
        },
      ],
      submit: ([text, select]: any) => {
        if (!text.validate()) return false;

        const name = text.getValue();
        const type = items[select.getSelectedIdx()];
        if (!type) return false;

        recipe = { ...recipe, ...{ [name]: type } };
        names = [...names, name];
        buffer = { ...buffer, ...{ [name]: makeInitValue(type) } };
        selected = name;
        dispatch("updateRecipe");
        return true;
      },
    };

    setModal(props, opts);
  }

  function showRenameModal() {
    const props: ModalProps = {
      modalHeading: "rename parameter",
      primaryButtonText: "rename",
      selectorPrimaryFocus: "#new-name",
    };
    const opts: ModalOpts = {
      slots: [
        {
          component: TextInput,
          props: {
            validator: validateParameterName,
            size: "sm",
            value: "",
            id: "new-name",
            labelText: `parameter "${selected}" to`,
            placeholder: "enter new parameter name...",
          },
        },
      ],
      submit: ([text]: any) => {
        if (!text.validate()) return false;

        const newName: string = text.getValue();
        const idx = names.findIndex((name) => name === selected);
        if (idx < 0) return false;

        recipe[newName] = recipe[selected];
        delete recipe[selected];

        names.splice(idx, 1, newName);
        names = names;

        buffer[newName] = buffer[selected];
        delete buffer[selected];

        selected = newName;

        dispatch("updateRecipe");
        return true;
      },
    };

    setModal(props, opts);
  }

  function showDeleteModal() {
    const props: ModalProps = {
      danger: true,
      modalHeading: "delete parameter",
      primaryButtonText: "delete",
    };
    const opts: ModalOpts = {
      slots: [`delete "${selected}"`],
      submit: () => {
        const idx = names.findIndex((name) => name === selected);
        if (idx < 0) return false;

        delete recipe[selected];

        names.splice(idx, 1);
        names = names;

        delete buffer[selected];

        selected =
          names.length === 0
            ? ""
            : idx < names.length
            ? names[idx]
            : names[names.length - 1];

        dispatch("updateRecipe");

        return true;
      },
    };
    setModal(props, opts);
  }
</script>

<div
  style:display={hidden ? "none" : "flex"}
  style:flex-direction="row"
  {...$$restProps}
>
  <div style:flex="initial" style:display="flex" style:flex-direction="column">
    {#if names.length !== 0}
      <Select
        style="flex: initial;"
        size="sm"
        labelText="parameter"
        bind:selected
      >
        {#each names as name (name)}
          <SelectItem value={name} />
        {/each}
      </Select>
    {:else}
      <Select style="flex: initial;" size="sm" labelText="parameter" disabled>
        <SelectItem value="no param" />
      </Select>
    {/if}
    <Button
      style="flex: initial;"
      size="small"
      icon={Add}
      on:click={showAddModal}
    >
      add
    </Button>
    <Button
      style="flex: initial;"
      size="small"
      icon={Edit}
      disabled={selected === ""}
      on:click={showRenameModal}
    >
      rename
    </Button>
    <Button
      style="flex: initial;"
      size="small"
      kind="danger"
      icon={TrashCan}
      disabled={selected === ""}
      on:click={showDeleteModal}
    >
      delete</Button
    >
  </div>

  {#if selected !== ""}
    <Sliders
      style="height: 100%; flex: none; padding-left:8px;"
      values={buffer[selected]}
      on:change={(e) =>
        dispatch("changeValue", { key: selected, value: e.detail })}
    />
  {:else}
    <div style:height="100%" />
  {/if}
</div>
