<script lang="ts">
  import { createEventDispatcher } from "svelte";
  import { Toggle, NumberInput } from "carbon-components-svelte";

  export let hidden: boolean = false;
  export let apply: boolean = false;
  export let width: number = 1;
  export let height: number = 1;

  let dispatchGuard: boolean = false;
  let innerWidth: number = width;
  let innerHeight: number = height;
  let fitFlag: boolean = false;

  function calcFitSize(): { width: number; height: number } {
    const ratio = Math.min(innerWidth / width, innerHeight / height);
    return {
      width: Math.floor(width * ratio),
      height: Math.floor(height * ratio),
    };
  }

  export function getValue(): [boolean, number, number] {
    if (fitFlag) {
      const { width, height } = calcFitSize();
      return [apply, width, height];
    } else {
      return [apply, innerWidth, innerHeight];
    }
  }

  export function setValue([newApply, newWidth, newHeight]: [
    boolean | null,
    number | null,
    number | null
  ]) {
    dispatchGuard = true;
    if (newApply !== null) apply = newApply;
    if (newWidth !== null && newWidth > 0) innerWidth = newWidth;
    if (newHeight !== null && newHeight > 0) innerHeight = newHeight;
    dispatchGuard = false;
  }

  const dispatch = createEventDispatcher<{
    toggle: boolean;
    change: { width: number; height: number };
  }>();

  function dispatchChange() {
    if (fitFlag) {
      dispatch("change", calcFitSize());
    } else {
      dispatch("change", { width: innerWidth, height: innerHeight });
    }
  }

  function onChange(tgt: "w" | "h" | "f", val: number | null) {
    val = val ? (val > 0 ? val : 1) : 1;
    switch (tgt) {
      case "w":
        if (innerWidth !== val) {
          innerWidth = val;
          if (apply && !dispatchGuard) dispatchChange();
        }
        break;
      case "h":
        if (innerHeight !== val) {
          innerHeight = val;
          if (apply && !dispatchGuard) dispatchChange();
        }
        break;
      case "f":
        if (apply && !dispatchGuard) dispatchChange();
        break;
    }
  }

  function onToggle() {
    if (!dispatchGuard) dispatch("toggle", apply);
  }
</script>

<div
  style:display={hidden ? "none" : "flex"}
  style:flex-direction="row"
  style:align-items="end"
  {...$$restProps}
>
  <Toggle
    style="flex: initial; padding-right: 5px;"
    labelA=""
    labelB=""
    labelText="fix size"
    bind:toggled={apply}
    on:change={onToggle}
  />
  <NumberInput
    style="flex: auto;"
    size="sm"
    label="width"
    hideSteppers
    value={innerWidth}
    min={1}
    readonly={!apply}
    on:change={(e) => onChange("w", e.detail)}
  />
  <NumberInput
    style="flex: auto;"
    size="sm"
    label="height"
    hideSteppers
    value={innerHeight}
    min={1}
    readonly={!apply}
    on:change={(e) => onChange("h", e.detail)}
  />
  <Toggle
    style="flex: initial;"
    labelA=""
    labelB=""
    labelText="fit"
    bind:toggled={fitFlag}
    on:change={() => onChange("f", null)}
  />
</div>
