<script lang="ts">
  import { createEventDispatcher } from "svelte";
  import { Slider } from "carbon-components-svelte";

  export let values: number[] = [0.5];

  const dispatch = createEventDispatcher<{
    change: number[];
  }>();

  let valuesText = "";

  function change(values: number[]): string {
    dispatch("change", values);
    let str = `(${values[0].toFixed(3)}`;
    for (let i = 1, end = values.length; i < end; ++i) {
      str += `, ${values[i].toFixed(3)}`;
    }
    str += ")";
    return str;
  }

  $: valuesText = change(values);
</script>

<div style:display="flex" style:flex-direction="column" {...$$restProps}>
  {#each values as _, i}
    <Slider
      hideLabel={i !== 0}
      labelText={i === 0 ? valuesText : ""}
      hideTextInput
      fullWidth
      minLabel={"xyzw"[i]}
      maxLabel=" "
      min={0}
      max={1.0}
      step={0.001}
      bind:value={values[i]}
    />
  {/each}
</div>
