<script lang="ts">
  import { TextInput } from "carbon-components-svelte";

  export let validator: (val: string) => string = () => "";

  let value: string;
  let self: TextInput;

  export function getValue() {
    return value;
  }

  export function validate() {
    const msg = validator(value);
    if (msg === "") {
      self.$set({
        invalid: false,
        invalidText: undefined,
      });
      return true;
    } else {
      self.$set({
        invalid: true,
        invalidText: msg,
      });
      return false;
    }
  }
</script>

<TextInput bind:this={self} bind:value invalid={false} {...$$restProps} />
