<script lang="ts" context="module">
  import { writable } from "svelte/store";
  import type { ComponentProps } from "svelte";
  import { ToastNotification } from "carbon-components-svelte";

  type ToastCloseEvent = CustomEvent<{ timeout: boolean }>;

  interface ToastDesc {
    id: number;
    props: ComponentProps<ToastNotification>;
    close: (e: ToastCloseEvent) => void;
  }

  const toasts = writable<ToastDesc[]>([]);

  const defaultToastProps: ComponentProps<ToastNotification> = {
    lowContrast: true,
    timeout: 3000,
  };

  export const addToast = (
    props: ComponentProps<ToastNotification>,
    onClose: ((e: ToastCloseEvent) => void) | null = null
  ) => {
    const id = Math.floor(Math.random() * 10000);
    const close = (e: ToastCloseEvent) => {
      if (onClose) onClose(e);
      toasts.update((all) => all.filter((t) => t.id !== id));
    };
    props = {
      ...defaultToastProps,
      ...props,
    };
    const toast: ToastDesc = { id, close, props };
    toasts.update((all) => {
      return [toast, ...all];
    });
  };
</script>

{#if $toasts}
  <div style:position="fixed" style:z-index="100">
    {#each $toasts as toast (toast.id)}
      <ToastNotification {...toast.props} on:close={toast.close} />
    {/each}
  </div>
{/if}
