<script lang="ts" context="module">
  const FLAGS = ["dither", "transparent", "fit palette"];
</script>

<script lang="ts">
  import { Select, SelectItem, MultiSelect } from "carbon-components-svelte";
  import GIFEncoder from "gifenc.js";

  let bitDepth: number = 8;
  let flags: number[] = [];

  export const extension = ".gif";

  function calcTick(
    delayNum: number,
    delayDen: number
  ): [raw: number, fix: number] {
    const raw = Math.max(2, (delayNum * 100) / delayDen);
    return [raw, Math.round(raw)];
  }

  function getFlags() {
    return FLAGS.map((_, i) => flags.includes(i));
  }

  export function makeImageEncoder() {
    const [applyDither, useTransparent, mayFitOnPalette] = getFlags();
    return {
      async write(img: ImageData) {
        let encoder = new GIFEncoder(img.width, img.height, bitDepth, 1);
        encoder.pushImg(img, 0, {
          applyDither,
          useTransparent,
          mayFitOnPalette,
        });
        const blob = await encoder.finish();
        encoder.dispose();
        return blob;
      },
    };
  }

  export function makeAnimeEncoder(workerCount: number) {
    let encoder: GIFEncoder;
    const [applyDither, useTransparent, mayFitOnPalette] = getFlags();
    return {
      push: async (img: ImageData, delayNum: number, delayDen: number) => {
        if (!encoder) {
          encoder = new GIFEncoder(
            img.width,
            img.height,
            bitDepth,
            workerCount
          );
        }
        const [_, delayTick] = calcTick(delayNum, delayDen);
        await encoder.pushImg(img, delayTick, {
          applyDither,
          useTransparent,
          mayFitOnPalette,
        });
      },
      finish: async () => {
        if (!encoder) return null;
        const blob = await encoder.finish().catch(() => null);
        encoder.dispose();
        return blob;
      },
      cancel: () => {
        if (encoder) encoder.dispose();
      },
    };
  }

  export function calcSpeed(
    delayNum: number,
    delayDen: number
  ): [speed: number, fps: number] {
    const [raw, fix] = calcTick(delayNum, delayDen);
    return [raw / fix, 100 / fix];
  }
</script>

<Select
  style="flex: initial; flex-shrink: 0;"
  size="sm"
  labelText="palette"
  bind:selected={bitDepth}
>
  {#each Array.from({ length: 8 }, (_, i) => 8 - i) as palette}
    <SelectItem value={palette} text={`${1 << palette}`} />
  {/each}
</Select>
<span
  style:width="200px"
  style:flex="initial"
  style:flex-shrink="0"
  style:margin-right="16px"
>
  <MultiSelect
    size="sm"
    titleText="flags"
    label="select flags..."
    items={FLAGS.map((text, id) => ({ id, text }))}
    bind:selectedIds={flags}
    sortItem={() => {}}
    selectionFeedback="fixed"
  />
</span>
