<script lang="ts" context="module">
  import type { ComponentType, SvelteComponent } from "svelte";
  import SavePNG from "./PNG.svelte";
  import SaveGIF from "./GIF.svelte";
  import SaveWEBP from "./WEBP.svelte";
  interface ImageEncoder {
    write: (img: ImageData) => Promise<Blob>;
  }
  interface ImageWriter {
    write: (img: ImageData) => Promise<void>;
    cancel: () => void;
  }
  interface AnimeEncoder {
    push: (img: ImageData, delayNum: number, delayDen: number) => Promise<void>;
    finish: () => Promise<Blob | null>;
    cancel: () => void;
  }
  interface AnimeWriter {
    readonly workerCount: number;
    readonly step: number;
    push: (img: ImageData) => Promise<void>;
    finish: () => Promise<void>;
    cancel: AnimeEncoder["cancel"];
  }
  type EncoderComponent = SvelteComponent<any, any, any> & {
    readonly extension: string;
    makeImageEncoder: () => ImageEncoder;
    makeAnimeEncoder: (workerCount: number) => AnimeEncoder;
    calcSpeed: (
      delayNum: number,
      delayDen: number
    ) => [speed: number, fps: number];
  };
  const IMGTYPE: { [K: string]: ComponentType<EncoderComponent> } = {
    png: SavePNG,
    webp: SaveWEBP,
    gif: SaveGIF,
  };

  export type { ImageWriter, AnimeWriter };
</script>

<script lang="ts">
  import { createEventDispatcher } from "svelte";
  import {
    Select,
    SelectItem,
    Button,
    NumberInput,
  } from "carbon-components-svelte";
  import Camera from "carbon-icons-svelte/lib/Camera.svelte";
  import Video from "carbon-icons-svelte/lib/Video.svelte";

  interface EventMap {
    requestSaveImage: ImageWriter;
    requestSaveAnime: AnimeWriter;
  }
  const dispatch = createEventDispatcher<EventMap>();

  export let hidden: boolean = false;
  export let fps: number;
  export let name: string;

  const workerCount = window.navigator.hardwareConcurrency;
  let selected: string = Object.keys(IMGTYPE)[0];
  let step: number = 1;
  let encoderFactory: EncoderComponent;
  $: [outSpeed, outFps] = encoderFactory
    ? encoderFactory.calcSpeed(step, fps)
    : [1, 1];

  function downloadBlob(blob: Blob) {
    const a = document.createElement("a");
    a.href = URL.createObjectURL(blob);
    a.download = `${name}${encoderFactory.extension}`;
    a.click();
    URL.revokeObjectURL(a.href);
  }

  function dispatchImageWriter() {
    const { write } = encoderFactory.makeImageEncoder();
    let cancel = false;
    const writer = {
      write: async (img: ImageData) => {
        const blob = await write(img);
        if (!cancel) downloadBlob(blob);
      },
      cancel: () => (cancel = true),
    };
    dispatch("requestSaveImage", writer);
  }

  function dispatchAnimeWriter() {
    const { push, finish, cancel } =
      encoderFactory.makeAnimeEncoder(workerCount);
    const writer: AnimeWriter = {
      workerCount,
      step,
      push: (img: ImageData) => push(img, step, fps),
      cancel,
      finish: async () => {
        const blob = await finish();
        if (!blob) return Promise.reject();
        downloadBlob(blob);
      },
    };
    dispatch("requestSaveAnime", writer);
  }
</script>

<div
  style:display={hidden ? "none" : "flex"}
  style:flex-direction="row"
  style:align-items="end"
  {...$$restProps}
>
  <Select
    style="flex: initial; flex-shrink: 0; margin-right: 16px;"
    size="sm"
    labelText="save as"
    bind:selected
  >
    {#each Object.keys(IMGTYPE) as type}
      <SelectItem value={type} />
    {/each}
  </Select>
  <svelte:component this={IMGTYPE[selected]} bind:this={encoderFactory} />
  <Button
    style="flex: initial;"
    size="small"
    iconDescription="image"
    icon={Camera}
    on:click={dispatchImageWriter}
  />
  {#if fps > 0}
    <div style="margin-left: 16px; flex: initial; max-width: 150px;">
      <NumberInput
        size="sm"
        label={`step (${outFps.toFixed(2)}fps x${outSpeed.toFixed(3)})`}
        min={1}
        bind:value={step}
        on:input={() => {
          if (step < 1) step = 1;
        }}
      />
    </div>
    <Button
      style="flex: initial;"
      size="small"
      iconDescription="animation"
      icon={Video}
      on:click={dispatchAnimeWriter}
    />
  {/if}
</div>
